
body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Barlow Condensed', sans-serif;
}
.header {
    background: url('../images/header.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.container {
    max-width: 1000px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}
.navbar {
    padding-left: 50px;
    padding-right: 50px;
    height: 80px;
}
.navbar-brown{
    background-color: #3a332b;
}
.navbar-brand img {
    max-width: 150px;
    margin-top: 15px;
}
.header-title {
    text-transform: uppercase;
    margin-left: 50%;
    margin-top: 95px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.header-title h1 {
    color: #fff;
    font-size: 40pt;
}
.header-title h1 span {
    color: #00a6b6;
    font-size: 80pt;
    margin: 0;
}
.button {
    font-size: 24px;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 40px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    cursor: pointer;
}
.button-blue {
    background-color: #00a6b6;
}
.button-blue:hover {
    background-color: #036b80;
}
.button-violet {
    text-transform: uppercase;
    background-color: #2e1b46;
}
.button-violet:hover {
    background-color: #3f2165;
}
.brown-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3a332b;
}
.blue-section {
    background-color: #00a6b6;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 40px;
}
.gray-section {
    background-color: #e1e1e1;
    padding-top: 50px;
    padding-bottom: 50px;
}
a.link {
    color: #2e1b46;
    font-size: inherit;
}
form {
    display: inline-block;
    padding: 10px 40px;
    width: 100%;
}
form label {
    font-size: 20px;
}
form .column input {
    width: 100%;
    margin-top: 10px;
    height: 30px;
}
form select {
    margin-top: 10px;
    width: 100%;
    height: 35px;
}
.in-one-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.in-one-line div {
    margin: 5px;
}
.filter {
    position: relative;
}
.filter .button-box {
    position: absolute;
    right: 30px;
    bottom: 50px;
}
.filter .button-box .button {
    width: 300px;
}
.filter form {
    padding: 0;
}
.filter form .column {
    width: 280px;
}
.column {
    padding: 20px;
    width: 40%;
    display: inherit;
}
.checkbox {
    padding: 20px;
}
.form-button {
    text-align: center;
}
.dropdown-icon {
    margin-left: 20px;
    width: 20px;
}
.inline-tile-box {
    text-align: center;
}
.tile {
    display: inline-block;
    width: 300px;
    margin: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: #fff;
}
.tile:hover .tile-img {
    transform: scale(1.2) rotate(-5deg);
}
.tile>header {
    background: #3a332b;
    text-align: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-weight: 500;
    font-size: 26px;
    padding: 10px 30px;
}
.tile .img-wrapper {
    overflow: hidden;
}
.tile .tile-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    transition: all 3s;
}
.tile table.tile-description {
    background-color: #036b80;
    padding: 10px 30px;
    width: 100%;
}
.tile table.tile-description td{
    opacity: 0.7;
    font-size: 20px;
    text-align: left;
}
.tile table.tile-description td:nth-of-type(2) {
    opacity: 10;
    text-align: right;
    width: 100px;
}
.tile .tile-action {
    background-color: #00a6b6;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 30px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: all 3s;
    cursor: pointer;
}
.tile .tile-action:hover {
    background-color: #2e1b46;
}
.tile .tile-action a {
    color: #fff;
    text-decoration: none;
}
h2 {
    font-size: 20px;
    font-weight: 300;
}
h3 {
    font-size: 22px;
    font-weight: 500;
}
span.blue {
    font-size: 24px;
    color: #00a6b6;
    padding-bottom: 10px;
    border-bottom: 1px solid #00a6b6;
}
footer {
    background-color: #2a2620;
    text-align: center;
    padding: 20px;
}
footer p {
    color: #fff;
    opacity: 0.5;
    font-size: 16px;
    margin: 0;
}
